{% extends "idasia/layout.html" %}
{% load static %}
{% block body %}
{% block css %}
	<link rel="stylesheet" href="{% static 'idasia/about_us.css' %}">
{% endblock %}
	<center>
	<div class="main-content">
	<div class="about-us">
	<div class="main-title">
		<div class="sub-div">
			<h1 class="header"> Idasia </h1>
			<h5 class="subtitle"> Get it all out </h5>
		</div>
	</div>
	<br>
			<div class="main-essay">
				<div class="sub-essay">
					<h5 class="div-header">What is Idasia?</h5>
					<p>
						From the combined Greek words ἰδέα (idea) and συνεργασία (synergasía or collaboration). This site was inspired by "BRAIN DUMP". According to Merriam Webster, Brain Dump is the act or an instance of comprehensively and uncritically expressing and recording one's thoughts and ideas. With this web app, can sign in share and discuss their ideas and find collaborators throughout the site. They can also find inspiration, and further improve their concepts through a discussion forum of threads. Users and collaborators can also send files through threads to share improvements and enhancement of ideas. This site acts as a first step in conceptualizing and planning projects before proceeding to implementation sites like Kickstarter.
					</p>
				</div>
			</div>
		<br>
		<br>
		<div class="main-dev">
			<div class="sub-dev">
				<h5 class="div-header">About the developer</h5>
				<div class="dev-content">
					<center>
					<img src="https://nigelhaim.github.io/Work-Immersion-final-product/Images/Magnet.png" class="logo">
					</center>
					<hr>
					<p>
						I am Nigel Haim N. Sebastian, a student studying at the University of Santo Tomas in the Philippines. I started programming when I was in 6th grade and further improved my skills throughout the years. I am also interested in film making and music.
					</p>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	</div>
	</center>

{% endblock %}