{% extends "idasia/layout.html" %}}
{% load static %}
{% block body %}
{% block css %}
	<link rel="stylesheet" href="{% static 'idasia/login.css' %}">
{% endblock %}
    <center>
    <div class="login">
        <div class="login-page">
            <h2>Log in</h2>

            {% if message %}
            	<div class="message">{{ message }}</div>
            {% endif %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="uname" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="pass" placeholder="Password">
                    </div>
                    <input class="login_b" type="submit" value="Login">
                </form> 
                <br>

                <div class="register_button">
                	<h3></h3>
                	<a class="r_button" href="{% url 'signup' %}">Sign up here.</a>
            	</div>
        </div>
        <br>
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br>
        
    </div>    
    </center> 
{% endblock %}