*{
	font-family: consolas;
	display: block;
}
body{
	background-color: #121212;
	max-height: 100%;
	display: block;
	overflow-x: hidden;
}

content{
	max-width: 90%;
	position: relative;
	display: block;
	left: 25%;

}

h3{
	color: orangered;
}

.nav-bar{
	display: flex;
	flex-direction: column;
}
.nav-bar div, a, h3{
	margin-top: 30px;
	margin-bottom: 30px;
}
.logo{
	color: orangered;
}

.nav-bar a{
	text-decoration: none;
	color: orangered;
}

.nav-bar a:visited{
	text-decoration: none;
	color: orangered;
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #282828;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #F56105;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #f58d05;
  }

  .welcome_user{
  	color: orangered;
  }

  script{
  	display: none;
  }
header{
	float: left;
	max-width: 10%;
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 25px 5%;
	background-color: #1f1f1f;
	margin: 0px;
	font-weight: 600;
	font-size: 30px;
	margin-right: 5px;
	text-align: center;
	
	top:0px;
	left: 0px;
	overflow-y: auto;
}

.nav-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  float: left;
  z-index: 1;
  position: fixed;
} 

.nav-toggle{
  display: none;
  cursor: pointer;
}
  
.nav-toggle:hover {
  cursor: pointer;
} 
body{
	display: block;
}
.navigation{
	display: block;
}
.navigation.active{
	display: block;
}
content{
	margin-top: 0px;
	position: relative;
	top: 0px;
	z-index: 0;
}
.nav-toggle{
	background-color: transparent;
	font-size: 50px;
	padding: 10px;
	font-weight: 900;
	border: 10px solid orangered;
	color: white;
	border-radius: 20px;
}

.nav-toggle.is-active{
	background-color: orangered;
	font-size: 50px;
	padding: 10px;
	font-weight: 900;
	color: black;
	border-radius: 20px;

}

@media only screen and (max-width: 1200px){
	*{
		position: relative;
		left: -3px;
		top:-10px;
		width: 100%;
	}
	.nav-bar{
		display: flex;
	}
	header{
		float: none;
		max-width:100%;
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 25px 5%;
		background-color: #1f1f1f;
		margin: 0px;
		font-weight: 600;
		font-size: 30px;
		margin-right: 5px;
		text-align: center;
		
		top:0px;
		left: -5%;
		overflow-y: auto;
	}
	content{
		max-width: 100%;
		position: relative;
		display: block;
		left: 10px;
	}
	.navigation{
		display: block;
	}
	.nav-toggle{
	  display: block;
	  cursor: pointer;
	  width: 100%;
	}
	  
	.nav-toggle:hover {
	  cursor: pointer;
	} 
	body{
		display: block;
	}
	.navigation{
		display: none;
	}
	.navigation.active{
		display: block;
	}
	content{
		margin-top: 0px;
		position: relative;
		top: 0px;
		z-index: 0;
	}
}